<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <connectionStrings>
    <add name="DefaultConnection" connectionString="Server=193.122.12.41;Port=5432;Database=wegdb;User Id=weguser;Password=yN6HcTHlfvQU5FWOGo6mizdBR1" providerName="Npgsql" />
  </connectionStrings>
</configuration>